[submodule "midas-nagisa"]
	path = midas-nagisa
	url = https://github.com/firedial/midas-nagisa.git
[submodule "midas-misuzu"]
	path = midas-misuzu
	url = https://github.com/firedial/midas-misuzu.git
[submodule "midas-eru"]
	path = midas-eru
	url = https://github.com/firedial/midas-eru.git
