
* {
    background-color: #FFFCDA
} 
a:link { color:#0000ff; text-decoration:none }
a:visited { color:#0000ff; text-decoration:none }
a:hover { color:#0000ff; text-decoration:none }
a:active { color:#0000ff; text-decoration:none }

h1 {
    text-align: center;
    color: #6ABC6E;
    font-size: 60px;
    margin-bottom: 0px;
}
div.box {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 60px;
}
div.box > a {
    display: block;
    background-color: #6ABC6E;
    width: 300px;
    height: 300px;
    /* line-height: 300px; */
    text-align: center;
    font-size: 60px;
    color: #FFFCDA;
}
div.box > a:hover {
    background-color: #43A28C;
}
div.link {
    text-align: center;
}
div.auth {
    display: block;
    height: 30px;
}

div.auth > div.out {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

div.auth > div.out > input {
    position: relative;
    transform: scaleX(0);
    transition: 0.5s;
    width: 150px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

div.auth > div.out > div.in {
    position: relative;
    left: 50px;
    top: 30px;
    background-color: #6ABC6E;
    display: block;
    width: 50px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
}

div.auth > div.out:hover input {
    transform: scaleX(1);
    transition: 0.5s;
    display: inline-block;
}

div.auth > div.out:hover div.in {
    opacity: 0;
}

